# maven target folder
target

# eclipse related
.classpath
.project
.settings

# user defined ignore
**/*_ignore

# python compiled 
**/*.pyc

# ipython notebook related
.ipynb_checkpoints
__pycache__

# java compiled 
**/*.class

# log files
**/*.log

# bak files
**/*~

# mac filesystem related
**/.DS_STORE

# latex related
**/*.synctex.gz
**/*.out
**/*.aux
**/*.log
**/*.idx 
**/*.ind 
**/*.lof 
**/*.lot
**/*.toc
**/*.acn
**/*.acr 
**/*.alg 
**/*.glg 
**/*.glo 
**/*.gls 
**/*.ist
**/*.nav 
**/*.vrb 
**/*.snm 
**/*.blg 
**/*-blx.bib 
**/*.bbl
**/*.run.xml

# heritrix related
adhoc.keystore
heritrix_dmesg.log
local_data
